.Footer{
    background: black;
    color:white;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    height: 70px;
    width:100vw;
  }
  .foot{
    font-size: 12px;
    margin: 2vh;
    max-width: fit-content;
    margin-left: auto;
  }
  .github{
    display: flex;
    width: 12px;
    height: 12px;
    margin: 2vh;
    margin-right: 2px;
    cursor: pointer;
  }
  .Linkedin{
    display: flex;
    width: 12px;
    height: 12px;
    margin: 2vh;
    margin-right: auto;
    cursor: pointer;
  }
  @media screen and (min-width: 700px) {
    .github,.Linkedin{
      width: 25px;
      height: 25px;
    }
    .foot{
      font-size: 15px;
    }
}