html{
  width:100%;
  overflow-x: hidden;
}
body{
  background:linear-gradient(rgb(255,255,255,0.8),rgb(255,255,255,0.8)),url('https://thumbs.dreamstime.com/b/web-development-coding-programming-internet-technology-business-concept-web-development-coding-programming-internet-technology-121903546.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width:100%;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.background {
  background:url('https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF2eSUyMHRleHR1cmV8ZW58MHx8MHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 120px;
  display: block;
  position: absolute;
  width: 100%;
  top:2px;
  z-index: -1;
  margin-top: 50px;
}
.profile{
  margin-top:50px;
  width:100px;
  height: 100px;
  z-index: 1;
  display: block;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:2px solid rgb(1, 1, 59)
}
@media screen and (max-width:400px) {
  h1{
    font-size: 25px;
  }
}
